<div class="services-header">
  <h1>Family Therapy</h1>
</div>

<div class="services-page">
  <section class=inner-service>
    <h1>Family Therapy</h1>
    <p>Etiam nulla neque, maximus quis congue sed, dignissim a orci. Phasellus ornare urna ante, ac volutpat
      sem lacinia congue. Suspendisse in vestibulum dui. Mauris ut consequat purus. Fusce convallis pulvinar orci
      vitae blandit. Sed facilisis cursus placerat. In maximus odio nec massa lacinia, at venenatis enim feugiat.
       Aliquam faucibus risus quis nulla aliquet, quis ultricies neque malesuada. Mauris sollicitudin, lorem in
       condimentum mollis, felis purus dictum lectus, eget lobortis tellus leo
    </p>
  </section>
  
  <section class="sidebar">
    <%= render 'services/sidebar' %>
  </section>
</div>
