<section class="about-page">
  <h1>About Us</h1>
  <p>Etiam aliquet orci vel congue vestibulum. Nunc ultricies nisi et mattis pharetra. Aliquam euismod
    vehicula eros in feugiat. Nulla dignissim venenatis lobortis. Quisque nisl libero, consectetur sed volutpat at,
    mollis non felis. Nullam at varius turpis, sed tincidunt elit. Suspendisse facilisis ipsum sed auctor mattis.
    Cras eget iaculis velit. Nullam congue sapien sed odio feugiat condimentum. Quisque vestibulum nec nisi eget semper.
    Donec congue ullamcorper lobortis. In nec consectetur tellus. Quisque varius mi est, ut elementum metus pharetra in.
  </p>
</section>
