<div class="payment-page">
  <h1>Payment</h1>
  <p>Etiam eget dui quam. Nam pulvinar commodo lorem id ornare. Fusce sit amet tortor dui.
    In mollis efficitur tellus in sodales. Nulla euismod erat quis neque varius, vitae ullamcorper massa tincidunt.
    Nunc facilisis lacus tortor, in molestie lorem euismod sit amet. Nulla nec congue lectus, vel rutrum arcu.
    Cras pharetra iaculis tortor nec venenatis.
  </p>
</div>
