<section class="staff-page">
  <h1>Meet Our Staff</h1>
  <p>Etiam eget dui quam. Nam pulvinar commodo lorem id ornare. Fusce sit amet tortor dui.
    In mollis efficitur tellus in sodales. Nulla euismod erat quis neque varius, vitae ullamcorper massa tincidunt.
    Nunc facilisis lacus tortor, in molestie lorem euismod sit amet. Nulla nec congue lectus, vel rutrum arcu.
    Cras pharetra iaculis tortor nec venenatis.
  </p>
  <div class="staff-section">
    <%= image_tag('plac_img.jpg') %>
    <p>Etiam tempus eros vel dignissim varius. Curabitur aliquet feugiat leo. Nulla dapibus, enim a cursus
      interdum, arcu dolor blandit eros, ac fringilla massa nisl at purus. Morbi facilisis neque lectus.
      Nam ullamcorper, turpis vehicula finibus luctus, ante risus commodo eros, vitae maximus tellus diam vehicula lorem.
      Donec dignissim nec dui sit amet blandit. Donec sem purus, congue at sem vel, vestibulum pulvinar sapien.</p>
  </div>
  <div class="staff-section">
    <%= image_tag('plac_img.jpg') %>
    <p>Etiam tempus eros vel dignissim varius. Curabitur aliquet feugiat leo. Nulla dapibus, enim a cursus
      interdum, arcu dolor blandit eros, ac fringilla massa nisl at purus. Morbi facilisis neque lectus.
      Nam ullamcorper, turpis vehicula finibus luctus, ante risus commodo eros, vitae maximus tellus diam vehicula lorem.
      Donec dignissim nec dui sit amet blandit. Donec sem purus, congue at sem vel, vestibulum pulvinar sapien.</p>
  </div>
</section>
