/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import url('https://fonts.googleapis.com/css?family=Poppins:300,400');
 @import url('https://fonts.googleapis.com/css?family=Oxygen:300,400');

 $primary-color: #F8CF27; //yellow

 /* global styles */
 *, *::before, *::after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
 }

html {
  position: relative;
  min-height: 100%; /* makes sure our HTML takes up 100% of the browser window */
  font-size: 16px;
}

 body {
   font-family: 'Oxygen', sans-serif;
 }

 section::after {
  content: '';
  display: block;
  clear: both;
 }

 /*begin header and navbar styles */
.header-image {
  img {
    height: 120px;
    margin: 10px;
  }
}

@media screen and (max-width: 390px) {
  .header-image {
    text-align: center;
    img{
      height: 60px;
    }
  }
}

@media screen and (max-width: 700px) and (min-width: 391px) {
  .header-image {
    text-align: center;
    img {
      height: 80px;
    }
  }
}

 #navbar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: $primary-color;
  li {
    width: 16.65%;
    text-align: center;
  }
}

@media screen and (max-width:500px){
  #navbar {
    li {
      width: 32.65%;
    }
  }
}

.nav-links {
  font-size: .9em;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  height: 100%;
}

.sub-links {
 text-transform: uppercase;
}

#menu1{
  background-color: #241f20;
  width: 100%;
  margin: 0;
  animation: fadeIn 1s;
  -moz-animation: fadeIn .5s; /* Firefox */
  -webkit-animation: fadeIn .5s; /* Safari and Chrome */
  -o-animation: fadeIn .5s; /* Opera */
  a {
    color: white;
    padding: 5%;
  &:hover {
    color: $primary-color;
    background-color: #191516;
  }
  }
  li {
    width: 100%;
    text-align: left;
  }
}

@keyframes fadeIn {
 from {
     margin: 20% 0 0 0;
     opacity:0;
 }
 to {
     margin: 0;
     opacity:1;
 }
}

@-webkit-@keyframes fadeIn {
 from {
     margin: 20% 0 0 0;
     opacity:0;
 }
 to {
     margin: 0;
     opacity:1;
 }
}
/*------------------------------*/
/* top header */
.header-info {
  float: right;
  font-size: 1em;
  text-align: center;
  display: flex;
  padding: 5% 5% 0 0;
  width: 50%;
  aside {
    width: 100%;
  }
  aside:nth-child(2) {
    border-left: 1px solid rgba(1,1,1,.1);
    border-right: 1px solid rgba(1,1,1,.1);
  }
}

@media screen and (max-width: 460px){
  .header-info{
    display: block;
    aside:nth-child(2) {
      border-left: none;
      border-right: none;
    }
  }
}

@media screen and (max-width: 1100px) {
 .header-info {
   padding: 1% 0;
   font-size: 1em;
   width: 100%;
  }
}

#logo {
  margin: 1% 0 1% 3%;
}

@media screen and (max-width: 465px) {
  #logo {
    height: 60px;
  }
}

@media screen and (min-width: 466px) {
 #logo {
   height: 80px;
 }
}

@media screen and (min-width: 1080px) {
 #logo {
   height: 120px;
 }
}

.sidebar-nav {
  padding: 9px 0;
}

.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
  margin-top: 0;
}

.navbar .sub-menu:before {
  border-bottom: 7px solid transparent;
  border-left: none;
  border-right: 7px solid rgba(0, 0, 0, 0.2);
  border-top: 7px solid transparent;
  left: -7px;
  top: 10px;
}

.navbar .sub-menu:after {
  border-top: 6px solid transparent;
  border-left: none;
  border-right: 6px solid #fff;
  border-bottom: 6px solid transparent;
  left: 10px;
  top: 11px;
  left: -6px;
}
/*------------------------------*/
/* alert banner */
.alert-wrapper {
  padding: 15px;
  position: absolute;
  z-index: 100;
  background: rgba(50,54,63,.85);
  width: 100%;
  text-align: center;
  color: $primary-color;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: .5px;
}
/*------------------------------*/
/* footer */
footer {
  color: white;
  background-color: #28363f;
  bottom: 0;
  width: 100%;
  padding: 30px 0 30px 0;
  div {
    padding: 15px 30px 0 30px;
    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }
  aside {
    width: 33.3%;
    float: left;
    padding: 0 20px 0 20px;
    h3 {
      margin: 0;
      padding-bottom: 20px;
    }
    ul {
      padding: 0;
    }
    li {
      list-style: none;
    }
  }
  img {
    height: 50px;
  }
}

@media screen and (max-width: 800px) {
  footer {
    aside {
      width: 100%;
    }
  }
}
/*------------------------------*/
/* contact forms */
.contact-group {
  .form-control {
    font-size: 1.1em;
    font-weight: 200;
  }
  .form-group {
    label {
      font-size: 1.2em;
      font-weight: 200;
    }
  }
}

.message-group {
  padding: 15px;
  .form-control {
    font-size: 1.1em;
    font-weight: 200;
    label {
      font-size: 1.2em;
    }
  }
  .form-group {
    .btn {
      background-color: $primary-color;
      color: white;
      font-size: 1.2em;
      transition: .5s;
      &:hover{
        transform: scale(1.1);
        background-color: #e4bc19;
      }
    }
  }
}
/*------------------------------*/
/* mobile menu */
.mobile-menu {
  display: none;
}

@media screen and (max-width:450px){
  .mobile-menu {
    display: block;
    color: white;
    padding: 8px;
    width: 40px;
    height: 40px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: #F8CF27;
    position: absolute; top: 181px; left: 10px;
  }
  .nav{
    display: block;
    overflow: hidden;
    height: 0;
    padding: 3% 0;
  }
  #menu1 {
    left: 110px;
    top: 0;
    width: 180px;
  }
}
